#username-text{
    margin-bottom: 10px;
    width: auto;
    height: 20px;
    border-radius: 10px;
    border-color: cadetblue;
}
#password-text{
    margin-bottom: 10px;
    width: auto;
    height: 20px;
    border-radius: 10px;
    border-color: cadetblue;
}
.submitbtnstyle{
    border-radius: 10px;
    border-color: black;
    width: auto;
    height: 25px;
}
.submitbtnstyle:hover{
    background-color: yellow;
    cursor: pointer;
}